.header {
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    min-height: 74px;
    margin: 45px auto 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .header {
        min-height: 56px;
        margin-top: 28px;
    }
}