.profile__avatar {
    cursor: pointer;
    position: relative;
}

.profile__avatar::before {
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-image: url(../../../images/profile/edit_avatar.png);
    background-color: black;
    background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}

.profile__avatar:hover:before {
    z-index: 0;
	opacity: 0.8;
}
